<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

    <section>
      <header>
        <p> Precipitation Probability: {{ $ctrl.weatherData.precipProbability * 100 | number:2 }}%</p>
        <img ng-src="{{$ctrl.imageLookup[$ctrl.weatherData.icon]}}" />
        <p>{{ $ctrl.weatherData.time * 1000 | date:"short" }}</p>
      </header>
      <main>
        <h1>Humidity: {{ $ctrl.weatherData.humidity * 100 | number:0 }}%</h1>
        <div>
          <h1> Temperature: {{ $ctrl.weatherData.temperature | number:0 }}&deg;F</h1>
          <h2>Feels like: {{ $ctrl.weatherData.apparentTemperature | number:0 }}&deg;F</h2>
        </div>
        <h1>UV Index: {{ $ctrl.weatherData.uvIndex }}</h1>
      </main>
      <footer>
        <h1>Summary: {{ $ctrl.weatherData.summary }}</h1>
      </footer>
    </section>
    <pre>{{$ctrl.weatherData | json }}</pre>



</body>
</html>
